.container {
    position: relative;
    width: 1080px; /* Instagram story width */
    height: 1920px; /* Instagram story height */
    margin: 0 auto;
    background-color: #f2f2f2;
    transform: scale(0.4); /* Scale down for display, adjust as necessary */
    transform-origin: top left; /* Ensure container scales from top left corner */
}

.instagram-story {
    position: relative;
    width: 1080px;
    /* Instagram story width */
    height: 1920px;
    /* Instagram story height */
    margin: 0 auto;
    background-color: #f2f2f2;
}

.fortune-cookie {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
    height: 256px;
    cursor: pointer;
}

.quote {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #666666;
    font-size: 58px;
    /* Adjust as necessary */
    font-family: 'Lato', cursive;
    text-align: center;
    font-weight: 500;
}

.save-image {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-image:hover {
    background-color: #666666;
}


