@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.container {
  text-align: center;
  margin-top: 50px;
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-story {
  position: relative;
  width: 360px; /* Instagram story width */
  height: 640px; /* Instagram story height */
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cookie-img {
  width: 200px;
  cursor: pointer;
}

.quote-container {
  margin-top: 20px;
  text-align: center;
}

#fortune-text {
  font-size: 24px; /* Increase the font size */
  font-weight: bold;
  color: #000;
  font-family: 'Playfair Display', serif; /* Use Playfair Display font */
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none; /* Initially hide the quote */
}

#save-button {
  margin-top: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#save-button:hover {
  background-color: #0056b3;
}

  
  .shake {
    animation: shake 0.8s ease-in-out infinite;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  